.git
README.md
node_modules
vendor
.idea
.vscode
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/public/*
